.news__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    position: relative;
    overflow:hidden;
}

.news__image {
    z-index: 0;
    width: 100%;
    object-fit: cover;
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.news__container:hover > .news__image {
    transform: scale(1.05);
}


.news__text {
    z-index: 1;
    width: 90%;
    height: 15vh;
    background-color: rgba(36, 35, 35, 0.7);
    padding: 2% 5%;
    color: lightgray;
    margin-top: -20%;
}

.text__date {
    padding: 1%;
    font-size: 14px;
}

.text__title {
    padding: 1%;
    font-size: 24px;    
}

.text__description {
    padding: 1%;
    font-size: 16px;
}