.triangle-decorator {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100vw 78px 0;
    border-color: transparent darkgray transparent transparent;
    background-color: gray;
}
