.search-txt {
  color: white;
  outline: none;
  font-size: 18px;
  background-color: transparent;
  border: none;
  border-bottom: solid 2px white;
  font-variant: none;
  font-family: "Myriad Pro Regular";
  transition: 0.4s;
  opacity: 1;
  width: calc(100% - 30px);
}

.search-txt__animated {
  width: 0;
  opacity: 0;
}


.search-txt::placeholder {
  color: white;
  opacity: 1;
}

.search-box:hover > .search-txt__animated {
  width: 150px;
  padding: 0 6px;
  opacity: 1;
}

.search-btn {
  margin-left: 10px;
  background: transparent;
  transition: 0.4s;
}

.fa-search {
  color: white;
  size: 20px 20px;
}
