.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Myriad Pro Regular";
  color: white;
  position: relative;
  text-transform: uppercase;
}

.search__container {
  position: absolute;
  right: 50px;
}

p {
  color: white;
  text-decoration: none;
}

p:hover {
  cursor: pointer;
  color: white;
  text-decoration: none;
}